/* button */
.primary-btn {
    color: $primary-color;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 14px 30px;
    border: 1px solid $primary-color;
    transition: $transition;
    text-decoration: none;

    @include desktop {
        font-size: 10px;
    }

    &:hover {
        color: $white-color;
        background-color: $primary-color;
    }
}